   /* reset css so Chrome doesn't add extra margin and padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }
    
    /* real CSS starts here */
    @page {
        size: A4 landscape;
        margin: 4mm; /* Set margin on each page */
    }
    .bottom-line {
        border-bottom: 0.1mm dotted #999;
        width: calc(100% - 5mm);
        
        height: 0mm;
    }
    .header {
        width:100%;
        background-color: white;
        text-align: left;
        font-weight: bold;
        font-size: 10pt;
        color: black;
        border-bottom: 1mm solid black;
    }
    .header-text {
        margin-left: 0mm;
        margin-bottom: 2mm;
    }
    #page {
        border: 1px solid black;
        width:115mm;
        height:195mm;
        background-color: white;
        break-after: page;
        position: relative;
    }
    #tiskovy-obrazec {
        background-color: lightgray;
        height: 175mm;
        width: 95mm;
        /*border: 1px solid black;*/
        margin-left:10mm;
        margin-top:10mm;
    }

    .date-row {
        width:100%;
        height:24mm;
        border-bottom: 0.5mm solid black;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .number-block {
    color:black;
    margin-left: 0mm;
    margin-right:5mm;
    width: 15mm;
    height: 15mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .number-block .number {
        font-size: 12mm;
        color:black
    }

    .day-cz {
        font-size: 3mm;
        margin-top: -1mm;
    }

    .sekuya-regular {
        font-family: "Sekuya", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .rubik-glitch-regular {
        font-family: "Rubik Glitch", system-ui;
        font-weight: 400;
        font-style: normal;
    }


    .rubik-regular {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .page-info {
        position: absolute;
        bottom: 2mm;
        right: 2mm;
        font-size: 6pt;
        color: #666;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1mm 2mm;
        border-radius: 2mm;
    }
