   /* reset css so Chrome doesn't add extra margin and padding */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }
    
    /* real CSS starts here 
    you can edit any CSS below which are marked as "editable"
    */
    @page {
        size: A4 landscape;
        margin: 4mm; /* <- @roza: edit margin according to the margins needed for printing */
    }

    .page-editable {
        border: 1px solid white;
        width:115mm;
        height:195mm;
        background-color: white;
    }


    .bottom-line-editable {
        border-bottom: 0.1mm dotted #999;
        width: calc(100% - 5mm);
    }

    .header-editable {
        width:100%;
        background-color: white;
        text-align: left;
        font-weight: bold;
        font-size: 10pt;
        color: black;
        border-bottom: 1mm solid black;
    }
    .header-text-editable {
        margin-left: 0mm;
        margin-bottom: 2mm;
    }
    .header-text-font-editable {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    

    .date-row-editable {
        width:100%;
        height:24mm;
        border-bottom: 0.5mm solid black;
        background-color: white;
    }


    .number-block-editable {
        color:black;
        margin-left: 0mm;
        margin-right:5mm;
        width: 15mm;
        height: 15mm;
    }

    .number-block-number-editable {
        font-size: 12mm;
        color:black
    }

    .number-block-number-font-editable {
        font-family: "Rubik Glitch", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .day-cz-editable {
        font-size: 3mm;
        margin-top: -1mm;
    }

    .day-cz-font-editable {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }


    
    /* The styles below should not be edited if you are not sure what you are doing */
    .page {
        break-after: page;
        position: relative;
    }

    .page-info {
        position: absolute;
        bottom: 2mm;
        right: 2mm;
        font-size: 6pt;
        color: #666;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1mm 2mm;
        border-radius: 2mm;
    }

    .sekuya-regular {
        font-family: "Sekuya", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .number-block {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .date-row {
        display: flex;
        align-items: center;
    }

    .tiskovy-obrazec {
        /*height: 175mm;*/
        /*width: 95mm;*/
        /*border: 1px solid black;*/
        margin-left:10mm;
        margin-top:10mm;
    }

    .bottom-line {
        height: 0mm;
    }

    .rubik-regular {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }