<div id="page">
    <div id="tiskovy-obrazec">
        <div class="header">
            <div class="header-text rubik-regular">{{ month.name_cz | upper }} {{ year }}</div>
        </div>
        {% for day in days %}
        <div class="date-row">
            <div class="number-block">
                <div class="number rubik-glitch-regular">{{ day.day_number }}</div>
                <div class="day-cz rubik-regular">{{ day.day_cz }}</div>
            </div>
            <div class="bottom-line"></div>
        </div>
        {% endfor %}
    </div>
    {% if signature_number is defined and page_number is defined %}
    <div class="page-info rubik-regular">
        S{{ signature_number|default(0) + 1 }} P{{ page_number|default(0) + 1 }}{% if a4_sheet_number is defined %} A4:{{ a4_sheet_number }}{% endif %}{% if signature_a4_range is defined %} (S{{ signature_number|default(0) + 1 }}: A4 {{ signature_a4_range }}){% endif %}
    </div>
    {% endif %}
</div>
