<div id="page">
    <div id="tiskovy-obrazec">
        <div class="header">
            <div class="header-text rubik-regular">{{ month.name_cz | upper }} {{ year }}</div>
        </div>
        {% for day in days %}
        <div class="date-row">
            <div class="number-block">
                <div class="number rubik-glitch-regular">{{ day.day_number }}</div>
                <div class="day-cz rubik-regular">{{ day.day_cz }}</div>
            </div>
            <div class="bottom-line"></div>
        </div>
        {% endfor %}
    </div>
</div>
