<div class="page-editable page">
    <div class="tiskovy-obrazec">
        <div class="header-editable">
            <div class="header-text-editable header-text-font-editable">{{ month.name_cz | upper }} {{ year }}</div>
        </div>
        {% for day in days %}
        <div class="date-row-editable date-row">
            <div class="number-block number-block-editable">
                <div class="number-block-number-editable number-block-number-font-editable">{{ day.day_number }}</div>
                <div class="day-cz-editable day-cz-font-editable">{{ day.day_cz }}</div>
            </div>
            <div class="bottom-line bottom-line-editable"></div>
        </div>
        {% endfor %}
    </div>
    {% if signature_number is defined and page_number is defined %}
    <div class="page-info rubik-regular">
        S{{ signature_number|default(0) + 1 }} P{{ page_number|default(0) + 1 }}{% if a4_sheet_number is defined %} A4:{{ a4_sheet_number }}{% endif %}{% if signature_a4_range is defined %} (S{{ signature_number|default(0) + 1 }}: A4 {{ signature_a4_range }}){% endif %}
    </div>
    {% endif %}
</div>
